<p>Xin chào {{nickname}}, </p>

<p>Gần đây, bạn đã chấp nhận đơn hàng số {{orderId}}. Để nhận đơn, hãy nhanh chóng liên hệ với khách hàng và thỏa thuận. Một mức giá cạnh tranh sẽ là lợi thế cho bạn để tiếp nhận đơn hàng nhanh chóng, đồng thời tăng cơ hội nhận được nhiều đơn hàng hơn trong tương lai.</p>

<p>Vui lòng kiểm tra thông tin khách hàng:</p>
<p>- Tên khách hàng: {{customerName}}</p>
<p>- Email: {{customerEmail}}</p>
<p>- Số điện thoại: {{customerPhone}}</p>

{{> footer }}