<p>Xin chào {{nickname}}, </p>

<p>Chúc mừng bạn đã có đơn hàng mới. Hãy kiểm tra thông tin chi tiết dưới đây nhé:</p>
<div>
    <span>
        Mã đơn hàng:
    </span>
    <span>
        {{orderId}}
    </span>
</div>
<div>
    <span>
        Tên tài:
    </span>
    <span>
        {{drivers}}
    </span>
</div>
<div>
    <span>
        Xe:
    </span>
    <span>
        {{trucks}}
    </span>
</div>

<p>Hãy tiến hành liên hệ và vận chuyển theo yêu cầu nhé!</p>

{{> footer }}