<h4>Welcome {{nickname}} to {{companyName}}.</h4>

<p>Your order {{orderId}} has been changed successfully. Please check your order information</p>
<div>
    <span>
        Type of transportation:
    </span>
    <span>
        {{serviceType}}
    </span>
</div>
<div>
    <span>
        Pick up address:
    </span>
    <span>
        {{pickupAddress}}
    </span>
</div>
<div>
    <span>
        Drop off address:
    </span>
    <span>
        {{dropOffAddress}}
    </span>
</div>
<div>
    <span>
        Status:
    </span>
    <span>
        {{status}}
    </span>
</div>
{{> footer }}