<h4>Welcome {{nickname}} to {{companyName}}.</h4>

<p>Thank you for creating your order with {{companyName}}</p>

<p>Your order has been placed, truck owners/drivers will contact you for fare agreement</p>

<p>Please check your order information</p>
<div>
    <span>
        Type of transportation:
    </span>
    <span>
        {{serviceType}}
    </span>
</div>
<div>
    <span>
        Pick up address:
    </span>
    <span>
        {{pickupAddress}}
    </span>
</div>
<div>
    <span>
        Drop off address:
    </span>
    <span>
        {{dropOffAddress}}
    </span>
</div>
<p>For any changes, please visit our website and update at Order Management section.</p>

{{> footer }}