<h4>Welcome {{nickname}} to {{companyName}}.</h4>

<p>A truck owner has accepted your order</p>

<p>Please check the truck owner information below:</p>
<p>- Transport company name: {{transportCompanyName}}</p>
<p>- Contact name: {{name}}</p>
<p>- Contact phone number: {{phoneNumber}}</p>
<p>- Contact email: {{email}}</p>

<p>Truck owner will contact you to announce the fare and contract (optional). You can follow your order status via
    {{companyName}} website and your email</p>

{{> footer }}