<h4>Xin chào {{nickname}}</h4>

<p>Đơn hàng {{orderId}} của bạn đã được chỉnh sửa thành công. Hãy kiểm tra lại thông tin bên dưới:</p>
<div>
    <span>
        Loại xe:
    </span>
    <span>
        {{serviceType}}
    </span>
</div>
<div>
    <span>
        Địa chỉ lấy hàng:
    </span>
    <span>
        {{pickupAddress}}
    </span>
</div>
<div>
    <span>
        Địa chỉ giao hàng:
    </span>
    <span>
        {{dropOffAddress}}
    </span>
</div>
<div>
    <span>
        Trạng thái:
    </span>
    <span>
        {{status}}
    </span>
</div>
{{> footer }}