<h4>Xin chào {{nickname}}</h4>

<p>Chúc mừng bạn đã tìm được chủ xe cho đơn hàng của mình.</p>

<p>Dưới đây là thông tin chủ xe, vui lòng kiểm tra:</p>
<p>- Tên công ty vận tải: {{transportCompanyName}}</p>
<p>- Tên người liên hệ: {{name}}</p>
<p>- Số điện thoại người liên hệ: {{phoneNumber}}</p>
<p>- Email người liên hệ: {{email}}</p>

<p>Chủ xe sẽ chủ động liên hệ bạn để báo giá và thương lượng hợp đồng nếu cần thiết.
    Tiếp tục theo dõi trạng thái đơn hàng trên website của {{companyName}} nhé!</p>

{{> footer }}