<h4>Welcome {{nickname}} to {{companyName}}.</h4>

<p>고객님의 주문{{orderId}}이 변경되었습니다. 주문 정보를 확인해 주시기 바랍니다.</p>
<div>
    <span>
        서비스 종류:
    </span>
    <span>
        {{serviceType}}
    </span>
</div>
<div>
    <span>
        집화지 주소:
    </span>
    <span>
        {{pickupAddress}}
    </span>
</div>
<div>
    <span>
        배송지 주소:
    </span>
    <span>
        {{dropOffAddress}}
    </span>
</div>
<div>
    <span>
        상태:
    </span>
    <span>
        {{status}}
    </span>
</div>

<p>변경 사항은, 웹사이트의 주문 관리 부분에서 변경해 주시기 바랍니다.</p>
<p>궁금하신 사항은 아래 고객센터로 연락 주시면, 신속하게 답변을 드리겠습니다.</p>

{{> footer }}